<div class="container">
    <div class="row mb-3">
        <input class="form-control ds-input" placeholder="Search..." (input)="searchFieldChange()" [(ngModel)]="nameFilter">
    </div>
    
    <div class="row">
        <div class="d-inline-flex gap-3 flex-wrap" >
            <a class="text-decoration-none text-dark" *ngFor="let product of filteredProducts" [routerLink]="['../product', product._id]">
                <product-card-basic class="flex-fill card-selectable" [product]="product"></product-card-basic>
            </a>
            
            <p *ngIf="filteredProducts.length === 0" class="display-4">Nothing to show.</p>
        </div>
    </div> 
</div>
