<div class="container">
  <div class="row mb-3">
    <a type="button" class="btn btn-primary col-md-3" [routerLink]="['../../products']">← Back</a>
  </div>

  <div class="row mb-3">
    <div class="col-12 col-md-6">
      <h1>{{product?.name}}</h1>
      <img class="img-fluid" style="object-fit: contain;" [attr.src]="product?.image"
        [attr.alt]="product?.name ?? 'unknown' + ' product'">
    </div>
    <div class="col-12 col-md-6 d-flex flex-column">
      <h2>Description</h2>
      <p class="flex-fill">{{product?.description}}</p>
      <button type="button" class="btn btn-primary col-lg-4 col-12 mb-4">Add to cart</button>
    </div>
  </div>
  <div class="row mb-3">
    <h2>Comments:</h2>
    <div class="card-footer py-3 border-0">
      <div class="d-flex flex-start w-100">
        <div class="form-outline w-100">
          <textarea class="form-control" rows="4" placeholder="Write you comment..." [(ngModel)]="newCommentText"></textarea>
        </div>
      </div>
      <div class="float-start mt-2 pt-1">
        <button type="button" class="btn btn-primary" (click)="addComment()">Post comment</button>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="card mb-4" *ngFor="let comment of comments">
      <div class="card-body">
        <p>{{comment.text}}</p>
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <img class="rounded-circle" src="/assets/avatar.png" alt="avatar" width="25" height="25" />
            <p class="small mb-0 ms-2">Anonym</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>